@import "node_modules/bootstrap/scss/bootstrap.scss";

@import "fonts.scss";
@import "general.scss";
@import "typography.scss";
@import "backgrounds.scss";
@import "borders.scss";
@import "image-upload-banner.scss";
@import "alert.scss";
@import "vue.scss";

@include media-breakpoint-up(md) {
  .w-md-50 {
    width: 50% !important;
  }
}

@include media-breakpoint-up(lg) {
  .mt-lg-neg-115 {
    margin-top: -115px
  }
}

@include media-breakpoint-down(md) {
  .mt-md-neg-50 {
    margin-top: -50px
  }
}

@include media-breakpoint-up(md) {
    .md-hover-only {
        opacity: 0;
        &:hover {
            opacity: 1;
        }
    }
}

