.border-transparent {border-color: transparent !important;}
.border-black   {border-color: #22292f !important;}
.border-grey-darkest    {border-color: #3d4852 !important;}
.border-grey-darker {border-color: #606f7b !important;}
.border-grey-dark   {border-color: #8795a1 !important;}
.border-grey    {border-color: #b8c2cc !important;}
.border-grey-light  {border-color: #dae1e7 !important;}
.border-grey-lighter    {border-color: #f1f5f8 !important;}
.border-grey-lightest   {border-color: #f8fafc !important;}
.border-white   {border-color: #ffffff !important;}
.border-red-darkest {border-color: #3b0d0c !important;}
.border-red-darker  {border-color: #621b18 !important;}
.border-red-dark    {border-color: #cc1f1a !important;}
.border-red {border-color: #e3342f !important;}
.border-red-light   {border-color: #ef5753 !important;}
.border-red-lighter {border-color: #f9acaa !important;}
.border-red-lightest    {border-color: #fcebea !important;}
.border-orange-darkest  {border-color: #462a16 !important;}
.border-orange-darker   {border-color: #613b1f !important;}
.border-orange-dark {border-color: #de751f !important;}
.border-orange  {border-color: #f6993f !important;}
.border-orange-light    {border-color: #faad63 !important;}
.border-orange-lighter  {border-color: #fcd9b6 !important;}
.border-orange-lightest {border-color: #fff5eb !important;}
.border-yellow-darkest  {border-color: #453411 !important;}
.border-yellow-darker   {border-color: #684f1d !important;}
.border-yellow-dark {border-color: #f2d024 !important;}
.border-yellow  {border-color: #ffed4a !important;}
.border-yellow-light    {border-color: #fff382 !important;}
.border-yellow-lighter  {border-color: #fff9c2 !important;}
.border-yellow-lightest {border-color: #fcfbeb !important;}
.border-green-darkest   {border-color: #0f2f21 !important;}
.border-green-darker    {border-color: #1a4731 !important;}
.border-green-dark  {border-color: #1f9d55 !important;}
.border-green   {border-color: #38c172 !important;}
.border-green-light {border-color: #51d88a !important;}
.border-green-lighter   {border-color: #a2f5bf !important;}
.border-green-lightest  {border-color: #e3fcec !important;}
.border-teal-darkest    {border-color: #0d3331 !important;}
.border-teal-darker {border-color: #20504f !important;}
.border-teal-dark   {border-color: #38a89d !important;}
.border-teal    {border-color: #4dc0b5 !important;}
.border-teal-light  {border-color: #64d5ca !important;}
.border-teal-lighter    {border-color: #a0f0ed !important;}
.border-teal-lightest   {border-color: #e8fffe !important;}
.border-blue-darkest    {border-color: #12283a !important;}
.border-blue-darker {border-color: #1c3d5a !important;}
.border-blue-dark   {border-color: #2779bd !important;}
.border-blue    {border-color: #3490dc !important;}
.border-blue-light  {border-color: #6cb2eb !important;}
.border-blue-lighter    {border-color: #bcdefa !important;}
.border-blue-lightest   {border-color: #eff8ff !important;}
.border-indigo-darkest  {border-color: #191e38 !important;}
.border-indigo-darker   {border-color: #2f365f !important;}
.border-indigo-dark {border-color: #5661b3 !important;}
.border-indigo  {border-color: #6574cd !important;}
.border-indigo-light    {border-color: #7886d7 !important;}
.border-indigo-lighter  {border-color: #b2b7ff !important;}
.border-indigo-lightest {border-color: #e6e8ff !important;}
.border-purple-darkest  {border-color: #21183c !important;}
.border-purple-darker   {border-color: #382b5f !important;}
.border-purple-dark {border-color: #794acf !important;}
.border-purple  {border-color: #9561e2 !important;}
.border-purple-light    {border-color: #a779e9 !important;}
.border-purple-lighter  {border-color: #d6bbfc !important;}
.border-purple-lightest {border-color: #f3ebff !important;}
.border-pink-darkest    {border-color: #451225 !important;}
.border-pink-darker {border-color: #6f213f !important;}
.border-pink-dark   {border-color: #eb5286 !important;}
.border-pink    {border-color: #f66d9b !important;}
.border-pink-light  {border-color: #fa7ea8 !important;}
.border-pink-lighter    {border-color: #ffbbca !important;}
.border-pink-lightest   {border-color: #ffebe !important}