@font-face {
    font-family: Koyu Italic;
    src: url('/fonts/Futura-Koyu-Italic.ttf');
}
@font-face {
    font-family: FuturaLight;
    src: url('/fonts/FuturaLight.ttf');
}
@font-face {
    font-family: Futura Condensed;
    src: url('/fonts/FuturaStd-Condensed.otf');
}
@font-face {
    font-family: Futura Medium;
    src: url('/fonts/FuturaStd-Medium.otf');
}